<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="container">
   <a class="navbar-brand" href="/">F8 education</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://scontent.fsgn5-12.fna.fbcdn.net/v/t1.6435-1/132203060_440055650500779_6640583715396931547_n.jpg?stp=dst-jpg_s200x200&_nc_cat=103&ccb=1-7&_nc_sid=e4545e&_nc_ohc=s6n2syp1120Q7kNvgHKWSIo&_nc_ht=scontent.fsgn5-12.fna&oh=00_AYDdWoHgaeIQhg5sbtNMGcqE_JqNYaR3AWZnJdx9_pUp-Q&oe=66EAC06F" alt="" class="user-avatar">
                Hậu Nguyễn
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/courses/create">Đăng Khóa Học</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/me/stored/courses">Khóa Học Của Tôi</a></li>
                 <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
              </ul>
            </li>
        </ul>
      </div>
    </div>
</nav>